html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

label { display: block; width: 80%; }


table {   
	border-collapse:collapse;
	border-bottom:1px solid white;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
	
}
 
th {
	border-bottom:1px solid white;
	background:none repeat scroll 0 0 #09c332;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid white;
	text-align:center;	
}
 
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px; width: 50%;}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}

img.newsimage22 {
	width: 50%;
	height: 50%;
}



div.news {
	margin-top: 50px;
	width: 50%;
	height: 500px;
	/* 	background-color:lightblue; */
	position: absolute;
	bottom: 50px;
	overflow-y: scroll;
		
}




#aaa:nth-child(even) {background: #BBBBBB}
#aaa:nth-child(odd) {background: #00ffff}	


table.table1:nth-child(2) {background: #BBBBBB}
table.table1:nth-child(1) {background: #00ffff}	



